@charset "UTF-8";

.puma0 {
    width: 550px;
    height: 500px;
}
.puma0 {
    align-items: center;
   margin-left: 185px;
}
.puma1 {
    align-items: center;
   margin-left: 700px;
   width: 50px;
   height: 50px;
   margin-top: 30px
}
